h1{font-family: Verdana, Geneva, Tahoma, sans-serif; font-size:30px; text-align: center; font-weight: 700;color: rgb(159, 20, 20);background-color: rgb(226, 165, 12);}

ul{font-family: 'Times New Roman', Times, serif;font-size: 18px;text-align: left;}

h3{font-size: 22px;}

